body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #d13f6b;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.header nav {
    position: absolute;
    right: 20px;
    top: 20px;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin-left: 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-content {
    flex: 70%;
    padding-right: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-content h2 {
    color: #d13f6b;
}

.left-content p {
    text-align: justify;
}



.left-content ul li {
    height: 20px;

}

.right-sidebar {
    flex: 30%;
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.right-sidebar ul li {
    margin: 10px 0;
}

.right-sidebar ul li a {
    text-decoration: none;
    color: #d13f6b;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}